<p>Welcome to myCenter main page</p>
<h2>myCenter extensions</h2>
<p>There is a list with extensions for Magento 2</p>
<ul>
    <li>Greek Language Pack</li>
    <li>Category Subcategories</li>
</ul>
<p>For more information visit <a href="http://www.mycenter.gr" target="_blank">myCenter.gr</a></p>